.wp-block-oja-oja-related-post-block {
  label {
    color: #aea1a1 !important;
  }
  select {
    max-width: initial;
    font-size: 16px !important;
  }
}
.oja-related-post-wraper {
  a {
    pointer-events: none;
    figure {
     margin: 0;
     margin-bottom: 10px;
    }
  }
}

.related-post-design {
  width: 100%;
  .components-base-control__field {
    display: flex;
    flex-wrap: wrap;
  }
  .components-base-control__label {
    flex-basis: 100%;
  }

  .components-radio-control__option {
    flex-basis: 50%;
    margin-bottom: 10%;
     input {
      display: none;
    }

    input[type="radio"]:checked + label {
      background: #1CB4D2;
      color: #fff;
      &:before {
        color: #fff;
      }
    }

    label {
      display: block;
      cursor: pointer;
      width: 100%;
      margin: 0;
      padding: 45px 0px 10px;
      color: #555e64;
      text-align: center;
      border: solid 1px #ccc;
      border-radius: 10%;
      font-size: 12px;
      position: relative;

      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        display: block;
        font-size: 22px;
        position: absolute;
        transform: translate(-50%, -70%);
        left: 50%;
        top: 45%;
      }
    }
    input[value="sinple"] + label:before {
      content: "\f0ca";
    }
    input[value="card"] + label:before {
      content: "\f815";
    }
  }
}

